In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel("C:/BaiduNetdiskDownload/test/Akupunk/第二版output.xlsx",sheetname="Sheet1",header=1)

In [11]:
df.head(5)

,0,key1,key2,key3,代码,名称,今开,涨幅,总手x,买单,...,成交笔数,每笔手数,总手,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,1,0.0,2018-06-25,NaN,'600393',粤泰股份,3.48,-0.1008,1054310.0,43.0,...,NaN,NaN,NaN,1.0,1.0,3528.0,3528.0,1.0,NaN,NaN
3,2,0.0,2018-06-25,NaN,'603555',贵人鸟,12.82,-0.0997,270218.0,49.0,...,NaN,NaN,NaN,1.0,2.0,3528.0,3528.0,2.0,NaN,NaN
4,3,0.0,2018-06-25,NaN,'000976',华铁股份,5.07,0.0266,977487.0,45.0,...,NaN,NaN,NaN,1.0,3.0,3528.0,3528.0,3.0,NaN,NaN

In [12]:
df2 = df.iloc[4:,:]
print(df2.shape,df2.columns)
print(df2.tail(5))

(21166, 34) Index(['0', 'key1', 'key2', 'key3', '代码', '名称', '今开', '涨幅', '总手x', '买单', '卖单',
       '差', '买入', '卖出', '差1', '买入2', '卖出2', '差2', '涨速', '无限售股合计', '总额', '总量',
       '占额', '占量', '成交笔数', '每笔手数', '总手', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33'],
      dtype='object')
           0  key1       key2  key3        代码     名称  今开  涨幅  总手x  买单  \
21165  21169   0.0 2018-07-04   NaN  '600813'  ST鞍一工 NaN NaN  NaN NaN
21166  21170   0.0 2018-07-04   NaN  '600672'  *ST华圣 NaN NaN  NaN NaN
21167  21171   0.0 2018-07-04   NaN  '600899'  *ST信联 NaN NaN  NaN NaN
21168  21172   0.0 2018-07-04   NaN  '600625'   PT水仙 NaN NaN  NaN NaN
21169  21173   0.0 2018-07-04   NaN  '600852'  *ST中川 NaN NaN  NaN NaN

          ...       成交笔数  每笔手数  总手  Unnamed: 27  Unnamed: 28  Unnamed: 29  \
21165     ...        NaN   NaN NaN          6.0       3524.0       3528.0
21166     ...        NaN   NaN NaN          6.0       3525.0       3528.0
21167     ...        NaN   NaN NaN          6.0       3526.0       3528.0
21168     ...        NaN   NaN NaN          6.0       3527.0       3528.0
21169     ...        NaN   NaN NaN          6.0       3528.0       3528.0

       Unnamed: 30  Unnamed: 31  Unnamed: 32  Unnamed: 33
21165      21168.0       3524.0          NaN          NaN
21166      21168.0       3525.0          NaN          NaN
21167      21168.0       3526.0          NaN          NaN
21168      21168.0       3527.0          NaN          NaN
21169      21168.0       3528.0          NaN          NaN

[5 rows x 34 columns]